USE [master]
GO
/****** Object:  Database [TraoDoiDo]    Script Date: 3/20/2024 7:41:31 PM ******/
CREATE DATABASE [TraoDoiDo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TraoDoiDo', FILENAME = N'C:\Users\HP\TraoDoiDo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TraoDoiDo_log', FILENAME = N'C:\Users\HP\TraoDoiDo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TraoDoiDo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TraoDoiDo]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 3/20/2024 7:41:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[IdNguoiDung] [varchar](100) NULL,
	[HoTenNguoiDung] [varchar](100) NULL,
	[GioiTinhNguoiDung] [varchar](5) NULL,
	[NgaySinhNguoiDung] [varchar](50) NULL,
	[CMNDNguoiDung] [varchar](12) NULL,
	[SdtNguoiDung] [varchar](10) NULL,
	[DiaChiNguoiDung] [varchar](50) NULL,
	[AnhNguoiDung] [varchar](100) NULL,
	[EmailNguoiDung] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 3/20/2024 7:41:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[IdNguoiDung] [varchar](100) NULL,
	[TenDangNhap] [varchar](100) NULL,
	[MatKhau] [varchar](100) NULL
) ON [PRIMARY]
GO
USE [master]
GO
